
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


.wall{
    background-image: url("../img/wall.png");
    height: 100px;
}
.font{
    font-size: 60px;
    font-family: 'Edu TAS Beginner', sans-serif;
}
.cork{
    background-image: url("../img/cork.png");
}
.forest{ 
    margin: 20px auto;
    width: 80%;
    
}


.card{
    width: 310px;
    margin-top: 50px;
    margin-left: 20px;
    position: relative;
}
.size{
    font-size: 10px;
   margin: 10px 30px;
   font-family: "Sometype Mono", monospace;
}
.size2{
    font-size: 20px;
    margin: 10px 30px;
    font-family: 'Edu TAS Beginner', sans-serif;
}
.point{
    width: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.overlay{
   
  width: 100%;  
 display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    
   
}
.overlayimg{

   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}
.immagine{
    
    width: 40%;
    object-fit: contain;
    margin-bottom: 20px;
    
}
.btn{
    background-color: #3c3939;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
